# Week 09 - Pearson's R and Gradient

If the standard deviation for x and y are the same then the gradient is Pearson's correlation

In [1]:
import pandas as pd
from sklearn.datasets import make_regression

# create data
X, y = make_regression(n_samples=1000, n_features=1, noise=13)
df = pd.DataFrame(data=X, columns=['x'])
df['y'] = y

df.head()

          x           y
0  0.314351   34.447496
1  1.252326   77.245080
2 -1.432709 -118.946508
3  1.397822  103.691226
4  1.524072  110.286496

In [3]:
# scale data
import pandas as pd
from sklearn.preprocessing import StandardScaler
 
scaler = StandardScaler()
 
scaled_data = scaler.fit_transform(df.to_numpy())
df = pd.DataFrame(scaled_data, columns=[
  'x','y'])
 
df.head()

          x         y
0  0.330171  0.449794
1  1.273735  0.985226
2 -1.427302 -1.469288
3  1.420099  1.316088
4  1.547101  1.398600

In [4]:
# show standard deviations
print(df.x.std())
print(df.y.std())

1.000500375312773
1.000500375312774

In [5]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(df.x.values.reshape(-1, 1), df.y)
print(f'y = {model.intercept_:.2} + {model.coef_[0]:.2}(X)')

y = -3e-17 + 0.99(X)

In [6]:
df.corr()

         x        y
x  1.00000  0.98689
y  0.98689  1.00000